name: Update Sensors Data

on:
  schedule:
    - cron: '*/5 * * * *' # Esto configura la acción para ejecutarse cada 5 minutos

jobs:
  update-sensors:
    runs-on: ubuntu-latest

    steps:
      - name: Send request to update sensors data
        env:
          API_URL: https://estadio-humedad.vercel.app/api/sensors # Cambia esto por la URL de producción de tu API
        run: |
          curl -X GET $API_URL
